<div id="<%= dom_id room %>">
  <li class="list-group-item d-flex justify-content-between">
    <strong><%= link_to room.name, room %></strong>
    <span class="badge bg-primary rounded-pill"><%= room.messages_count %></span>
  </li>
</div>
